@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -4%;
}

.footer-contents {
  margin: 12% 4%;
}

.footer-contents h3,
.footer-contents p {
  color: white;
  line-height: 170%;
  font-family: "Roboto", sans-serif;
}

.footer-contents p {
  color: grey;
}

.footer-contents h3 {
  margin-bottom: 6%;
}
