@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 30vw;
  background-color: black;
}

.left-container {
  width: 40%;
  padding-left: 8%;
}

.left-container h1,
.left-container p {
  color: white;
  font-family: "Roboto", sans-serif;
}

.left-container h1 {
  padding-top: 26%;
  font-size: 340%;
  font-weight: 400;
  margin-right: 1%;
}

.left-container p {
  padding: 4% 0;
  font-size: 120%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.right-container {
  width: 60%;
  margin-right: 2%;
}

.right-container img {
  margin-top: 4%;
  height: 110%;
  width: 100%;
}

.left-container button {
  height: 12%;
  width: 38%;
  margin-top: 5%;
  margin-right: 4%;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 120%;
}

.left-container button:hover {
  color: white;
  background: rgb(49, 164, 209);
}
